GRSNG_New/GlobalReportingSystem.Web.UI/Service References/AnalysisService/AnalysisService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:element name="PerformAutoMigration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testSuiteIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="migrationType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PerformAutoMigrationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformAutoMigrationSoapIn">
    <wsdl:part name="parameters" element="tns:PerformAutoMigration" />
  </wsdl:message>
  <wsdl:message name="PerformAutoMigrationSoapOut">
    <wsdl:part name="parameters" element="tns:PerformAutoMigrationResponse" />
  </wsdl:message>
  <wsdl:portType name="AnalysisServiceSoap">
    <wsdl:operation name="PerformAutoMigration">
      <wsdl:input message="tns:PerformAutoMigrationSoapIn" />
      <wsdl:output message="tns:PerformAutoMigrationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnalysisServiceSoap" type="tns:AnalysisServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformAutoMigration">
      <soap:operation soapAction="http://microsoft.com/webservices/PerformAutoMigration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnalysisServiceSoap12" type="tns:AnalysisServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformAutoMigration">
      <soap12:operation soapAction="http://microsoft.com/webservices/PerformAutoMigration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnalysisService">
    <wsdl:port name="AnalysisServiceSoap" binding="tns:AnalysisServiceSoap">
      <soap:address location="http://10.236.4.153/nggrs/analyzer/AnalysisService.asmx" />
    </wsdl:port>
    <wsdl:port name="AnalysisServiceSoap12" binding="tns:AnalysisServiceSoap12">
      <soap12:address location="http://10.236.4.153/nggrs/analyzer/AnalysisService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>