GRSNG_New/GlobalReportingSystem.Web.UI/Service References/ExecutorService/Executor1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RunTests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunTestsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendConsoleCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="command" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendConsoleCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendConsoleCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAutocomplete">
        <s:complexType />
      </s:element>
      <s:element name="GetAutocompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAutocompleteResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PingByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingByIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingByIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PingByIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingByIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="syncSchedule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clientID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="syncScheduleResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendCommandToMachine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="command" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendCommandToMachineResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunTestsSoapIn">
    <wsdl:part name="parameters" element="tns:RunTests" />
  </wsdl:message>
  <wsdl:message name="RunTestsSoapOut">
    <wsdl:part name="parameters" element="tns:RunTestsResponse" />
  </wsdl:message>
  <wsdl:message name="SendConsoleCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendConsoleCommand" />
  </wsdl:message>
  <wsdl:message name="SendConsoleCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendConsoleCommandResponse" />
  </wsdl:message>
  <wsdl:message name="GetAutocompleteSoapIn">
    <wsdl:part name="parameters" element="tns:GetAutocomplete" />
  </wsdl:message>
  <wsdl:message name="GetAutocompleteSoapOut">
    <wsdl:part name="parameters" element="tns:GetAutocompleteResponse" />
  </wsdl:message>
  <wsdl:message name="PingByIDSoapIn">
    <wsdl:part name="parameters" element="tns:PingByID" />
  </wsdl:message>
  <wsdl:message name="PingByIDSoapOut">
    <wsdl:part name="parameters" element="tns:PingByIDResponse" />
  </wsdl:message>
  <wsdl:message name="PingByIPSoapIn">
    <wsdl:part name="parameters" element="tns:PingByIP" />
  </wsdl:message>
  <wsdl:message name="PingByIPSoapOut">
    <wsdl:part name="parameters" element="tns:PingByIPResponse" />
  </wsdl:message>
  <wsdl:message name="syncScheduleSoapIn">
    <wsdl:part name="parameters" element="tns:syncSchedule" />
  </wsdl:message>
  <wsdl:message name="syncScheduleSoapOut">
    <wsdl:part name="parameters" element="tns:syncScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="SendCommandToMachineSoapIn">
    <wsdl:part name="parameters" element="tns:SendCommandToMachine" />
  </wsdl:message>
  <wsdl:message name="SendCommandToMachineSoapOut">
    <wsdl:part name="parameters" element="tns:SendCommandToMachineResponse" />
  </wsdl:message>
  <wsdl:portType name="ExecutorSoap">
    <wsdl:operation name="RunTests">
      <wsdl:input message="tns:RunTestsSoapIn" />
      <wsdl:output message="tns:RunTestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendConsoleCommand">
      <wsdl:input message="tns:SendConsoleCommandSoapIn" />
      <wsdl:output message="tns:SendConsoleCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAutocomplete">
      <wsdl:input message="tns:GetAutocompleteSoapIn" />
      <wsdl:output message="tns:GetAutocompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PingByID">
      <wsdl:input message="tns:PingByIDSoapIn" />
      <wsdl:output message="tns:PingByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PingByIP">
      <wsdl:input message="tns:PingByIPSoapIn" />
      <wsdl:output message="tns:PingByIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="syncSchedule">
      <wsdl:input message="tns:syncScheduleSoapIn" />
      <wsdl:output message="tns:syncScheduleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendCommandToMachine">
      <wsdl:input message="tns:SendCommandToMachineSoapIn" />
      <wsdl:output message="tns:SendCommandToMachineSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExecutorSoap" type="tns:ExecutorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunTests">
      <soap:operation soapAction="http://tempuri.org/RunTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConsoleCommand">
      <soap:operation soapAction="http://tempuri.org/SendConsoleCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutocomplete">
      <soap:operation soapAction="http://tempuri.org/GetAutocomplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingByID">
      <soap:operation soapAction="http://tempuri.org/PingByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingByIP">
      <soap:operation soapAction="http://tempuri.org/PingByIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="syncSchedule">
      <soap:operation soapAction="http://tempuri.org/syncSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandToMachine">
      <soap:operation soapAction="http://tempuri.org/SendCommandToMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExecutorSoap12" type="tns:ExecutorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunTests">
      <soap12:operation soapAction="http://tempuri.org/RunTests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConsoleCommand">
      <soap12:operation soapAction="http://tempuri.org/SendConsoleCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutocomplete">
      <soap12:operation soapAction="http://tempuri.org/GetAutocomplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingByID">
      <soap12:operation soapAction="http://tempuri.org/PingByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingByIP">
      <soap12:operation soapAction="http://tempuri.org/PingByIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="syncSchedule">
      <soap12:operation soapAction="http://tempuri.org/syncSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandToMachine">
      <soap12:operation soapAction="http://tempuri.org/SendCommandToMachine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Executor">
    <wsdl:port name="ExecutorSoap" binding="tns:ExecutorSoap">
      <soap:address location="http://10.236.4.153/nggrs/executor/Executor.asmx" />
    </wsdl:port>
    <wsdl:port name="ExecutorSoap12" binding="tns:ExecutorSoap12">
      <soap12:address location="http://10.236.4.153/nggrs/executor/Executor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>